.indexTeam {
  background-color: #32176a;
  padding: 20px;
}

.indexTeamWrap {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.indexTeamInd {
  width: 290px;
  height: 325px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  overflow: hidden;
  transition: all 3s ease-in-out;
}
.indexTeamInd1 {
  background-image: linear-gradient(#3ac1c1, #076296),
    url("../assests/highlight/image\ copy\ 41.png");
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-size: 20rem;
  padding-left: 23px;
}
.indexTeamInd2 {
  background-image: linear-gradient(#fddf6b, #e01f26),
    url("../assests/highlight/image\ copy\ 41.png");
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-size: 20rem;
  padding-left: 23px;
}
.indexTeamInd3 {
  background-image: linear-gradient(#234db1, #132349),
    url("../assests/highlight/image\ copy\ 41.png");
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-size: 20rem;
  padding-left: 23px;
}
.indexTeamInd4 {
  background-image: linear-gradient(#eff40e, #ba9b1b),
    url("../assests/highlight/image\ copy\ 41.png");
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-size: 20rem;
  padding-left: 23px;
}
.indexTeamInd5 {
  background-image: linear-gradient(#f8c125, #d0662f),
    url("../assests/highlight/image\ copy\ 41.png");
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-size: 20rem;
  padding-left: 23px;
}
.indexTeamInd6 {
  background-image: linear-gradient(#693ad9, #381f73),
    url("../assests/highlight/image\ copy\ 41.png");
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-size: 20rem;
  padding-left: 23px;
}
.indexTeamInd7 {
  background-image: linear-gradient(#f1921e, #cb2927),
    url("../assests/highlight/image\ copy\ 41.png");
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-size: 20rem;
  padding-left: 23px;
}
.indexTeamInd8 {
  background-image: linear-gradient(#f13852, #e51e26),
    url("../assests/highlight/image\ copy\ 41.png");
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-size: 20rem;
  padding-left: 23px;
  transition: all 3s ease-in-out;
}

.indexTeamIndImg {
  width: 140px;
  height: 140px;
}

.index-Points-sh {
  background-color: #32176a;
  padding: 0;
  width: 100%;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  font-size: 32px;
  padding-left: 4rem;
  line-height: 40px;
  text-transform: capitalize;
  padding-top: 50px;
}
@media (max-width: 680px) {
  .indexTeamInd {
    width: 150px;
    height: 180px;
  }
}
